################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.iobj
*.ipdb
*.pdb
*.ilk
/Server/bin/Runme.bat
*.exe
/Server/content/output
/Server/src/.vs/RemoteGL
/Server/x64
/Client/content/timers1.txt
/Client/content/lensData
/Client/content/frameParts.txt
/Client/src/.vs/RemoteGL_Client/v16
/Client/src/x64
*.db
*.user
/Client/x64/Release_RemoteGL
/Client/src/.vs/RemoteRenderedVR_Client/v16
/Server/src/.vs/RemoteRenderedVR_Server/v16
/Client/x64/Debug_RemoteGL
/Client/content/output/testing
/Client/content/encoded.png
/Client/content/encoded2.png
/Client/content/Mappings.xlsx
/Client/content/MappingsD3D.xlsx
/Client/content/t_map2.txt
/Client/content/t_reference.txt
/Client/content/~$Mappings.xlsx
/Client/content/~$MappingsD3D.xlsx
/Client/content/output

/Client/src/.vs/RemoteRenderedVR_Client
/Client/x64
*.vs
*.opendb
ipch/
DecoderLib/
EncoderLib/
Stat_*